
 
<h1>   قائمة  النماذج</h1>
<div class="page-content">
  <div class="ace-settings-container" id="ace-settings-container">
    <!-- <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
        <i class="ace-icon fa fa-cog bigger-130"></i>
      </div> -->

    <div class="ace-settings-box clearfix" id="ace-settings-box">
      <div class="pull-left width-50">
        <div class="ace-settings-item">
          <div class="pull-left">
            <select id="skin-colorpicker" class="hide">
              <option data-skin="no-skin" value="#438EB9">#438EB9</option>
              <option data-skin="skin-1" value="#222A2D">#222A2D</option>
              <option data-skin="skin-2" value="#C6487E">#C6487E</option>
              <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
            </select>
          </div>
          <span>&nbsp; Choose Skin</span>
        </div>

        <div class="ace-settings-item">
          <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="on" />
          <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
        </div>

        <div class="ace-settings-item">
          <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
          <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
        </div>

        <div class="ace-settings-item">
          <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
          <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
        </div>

        <div class="ace-settings-item">
          <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
        <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
        </div>

        <div class="ace-settings-item">
        
          <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
          <label class="lbl" for="ace-settings-add-container">
            Inside
            <b>.container</b>
          </label>
        </div>
      </div>
      <!-- /.pull-left -->

      <div class="pull-left width-50">
        <div class="ace-settings-item">
          <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
          <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
        </div>

        <div class="ace-settings-item">
          <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
          <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
        </div>

        <div class="ace-settings-item">
          <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
          <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
        </div>
      </div>
      <!-- /.pull-left -->
    </div>
    <!-- /.ace-settings-box -->
  </div>
  <!-- /.ace-settings-container -->

  <div class="page-header">
    <div>
      <div class="container" style="width: 100%">
       
        <div class="row justify-content-end">
          <div class=" col-md-1" style="width:153px;" >
                 
                         
                  
                                                  
          </div>
         
          <div class=" col-md-2">
              <button class="votre_bouton3">إضافة</button>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                    <button class="votre_bouton3">تعديل</button>

                  <div class="col-md-12 col-md-12">
                    <div class="row">
                        <button class="votre_bouton3">حذف</button>
                        
                      <div class="col-md-12">
                          <button class="votre_bouton3">تحديث</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-md-2">
            <div class="row">
              <div class=" col-md-12">
                <div class="row">
                 
                  <div class="col-md-12  col-md-12">
                    <div class="row">
                      <div class="col-md-12  col-md-7 align-items-end">
                       
                       
                                           
                                                
                                            </div>
                      <div class=" col-md-4 align-self-center">
                       
                      </div>
                    </div>
                   
                    <div class="row">
                   
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-md-2">
            <div class="row">
              
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-md-12">
                    <div class="row">
                      
                      <div class=" col-md-4 align-self-center">

                        
                      </div>
                    </div>
                   
                    <div class="row">
                       
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="spacer" class=" col-md-1">
            <div class=" spacer"></div>
          </div>
          <div class=" col-md-1 offset-xl-0 justify-content-center">
              <div class="row">
                  <div class="col-md-12  col-md-7 align-items-end">
                 
                  </div>
                
                </div>
                <div class="row">
                    <div class="col-md-12  col-md-7 align-items-end">
                     
                    </div>
       
                  </div>
                  <div class="row">
                      <div class="col-md-12  col-md-7 align-items-end">
                          <div class="row btn_search">
                              <button class=" btn btn-app fa fa-search">
                                <!-- <i class="fa fa-search fa-stack-1x fa-inverse" style="height:61px;font-size:43px;color:rgb(33,37,41);margin-top:32px;margin-bottom:42px;width:100px;"></i> -->
                              </button>
                            </div>
                      </div>
                    
                    </div>
   
          </div>
        <fieldset> 
          <legend >بحث</legend>
                  <div class=" col-md-2">
            <div class="row">
              <div class="col-md-12  col-md-12 justify-content-start">
                <div class="recherche">
                <div class="row">
                  <div class="col-md-12  col-md-7 align-items-end">
                    <input type="text" style="margin:4px;font-size:10px;width: 200px;" placeholder="  في النصوص"/>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-md-12  col-md-7 align-items-end">
                    <input type="text" style="margin:4px;font-size:10px;width:200px;" placeholder="بالإسم  "  class="form-control"  />
                  </div>
                 
                </div>
                

<div class="ace-settings-item">
  <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
  <label class="lbl" for="ace-settings-sidebar">في المرجع المحدد</label>
</div>



             
                </div>
              </div>
            </div>
          </div>
        </fieldset>
                  </div>
                
      </div>
      <script src="assets/assets-costum/js/jquery.min.js"></script>
      <script src="assets/assets-costum/bootstrap/js/bootstrap.min.js"></script>
      <!-- <h1>
        Dashboard
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          overview &amp; stats
        </small>
      </h1> -->
    </div>
    <!-- /.page-header -->

    <div class="row">
      <div class="col-xs-12">
          <head>
              <title>Bootstrap Example</title>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            </head>
            <body>
            
            <div class="container">
            
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">النماذج</a></li>
                <li><a data-toggle="tab" href="#menu1">  النماذج المحذوفة</a></li>
             
              </ul>
            
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  
                  
                      <input type="text" style="margin:4px;font-size:10px;width: 200px;" placeholder=" chemin"/>
                    
                </div>
                <div id="menu1" class="tab-pane fade">
               
                </div>
               
              </div>
            </div>
            
            </body>