
  <input type="text" style="margin:4px;font-size:10px;width: 200px;" placeholder="  في النصوص"/>

  <input type="text" style="margin:4px;font-size:10px;width:200px;" placeholder="بالإسم  "  class="form-control"  />
 
    <button class=" btn btn-app fa fa-search">
      <!-- <i class="fa fa-search fa-stack-1x fa-inverse" style="height:61px;font-size:43px;color:rgb(33,37,41);margin-top:32px;margin-bottom:42px;width:100px;"></i> -->
    </button>


    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
    <label class="lbl" for="ace-settings-sidebar">في المرجع المحدد</label>

    
<div class="container">
 
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">المحذوفة</a></li>
    <li><a data-toggle="tab" href="#menu1">النماذج</a></li>
  
  </ul>
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
   
      <input type="text" style="margin:4px;font-size:10px;width: 200px;" placeholder=" chemin"/>
    </div>
    <div id="menu1" class="tab-pane fade">
      
      <table border="3">
        <tr>
          <th>البيان</th>
          <th>التاريخ</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    
    
  </div>
</div>
