<div id="sidebar" class="sidebar_left responsive   ace-save-state">
<div class="left">
<ul dir="rtl"  class="nav nav-list">

    <li >
        <a href="index.html">
          <i class="fa fa-plus-square"  style="font-size:25px"></i>
          <span class="menu-text"> إضافة </span>
        </a>
      </li>
      <li >
          <a href="index.html">
            <i class="fa fa-search" style="font-size:25px"></i>
            <span class="menu-text">عرض </span>
          </a>
        </li>

        <li >
            <a href="index.html">
              <i class="fa fa-trash "  style="font-size:25px" ></i>
              <span class="menu-text"> حذف </span>
            </a>
          </li>
          <li >
              <a href="index.html">
                <i class="fa fa-print" style="font-size:25px" ></i>
                <span class="menu-text"> طباعة </span>
              </a>
            </li>
            <li >
                <a href="index.html">
                  <i class="fa fa-envelope" style="font-size:25px"></i>
                  <span class="menu-text">البريد الإلكتروني </span>
                </a>
              </li>
             
  <li >
    <a href="index.html">

       
      <i  class="fa fa-commenting" style="font-size:25px"></i>
      <span class="menu-text">الرسائل القصيرة</span>
    </a>

   
  </li>
  <li >
    <a href="index.html">
      <i class="fa fa-flask" style="font-size:25px"></i>
      <span class="menu-text">المخبر</span>
    </a>
  </li>
  <li >
      <a routerLink="/rapport-medical" routerLinkActive="active" href="#">
      <i class="fa fa-print" style="font-size:25px" ></i>
      <span class="menu-text">Affich pacs</span>
    </a>
  </li>
  <li >
    <a href="index.html">
      <i class="fa fa-paperclip" style="font-size:25px"></i>
      <span class="menu-text"> تحميل مرفقات </span>
    </a>
  </li>

  <li >
    <a href="index.html">
      <i class="fa fa-stethoscope" style="font-size:24px"></i>
      <span class="menu-text"> التشخيص </span>
    </a>
  </li>
 
 
  
 
</ul>
<!-- /.nav-list -->
</div>

</div>